---
# Abilita (true) o disabilita (false) la modalità debug per il server IdP
debug: true
# IdP server - Indirizzo IP dell'interfaccia su cui esporre il server; lasciare 0.0.0.0 per ascoltare su tutte le interfacce
host: localhost
# IdP server - porta
port: 5000
# SP - Url base e  EntityId dell'SP
hostname: "http://localhost:5000"
# nome del SP
name: "Spid  SP testenv"
# Abilita (true) o disabilita (false) la modalità HTTPS per l'IdP
https: false
# Endpoint del server IdP, suddivisi per funzionalità e binding
# nota: utilizzare path relativi
endpoints:
    login: "saml/login"
#  single_logout_service: "/slo"
# Chiave e certificato necessari per la firma dei messaggi Spid
# lista degli attributi richiesti in fase di login
required_attributes:
  - name
  - familyName
  - fiscalNumber
  - spidCode
key_file: "sp.key"
cert_file: "sp.crt"
authn_request_level: "https://www.spid.gov.it/SpidL2"
test_idp_name: "testIdp"
test_idp_url: "http://localhost:8088"
test_idp_metadata_url: "http://localhost:8088/metadata"

